{% extends 'base.html' %}

{% block title %} Reset Password Confirm - Python Development Tutorials {% endblock %}

{% block body %}

<div class="modal" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Reset Password Confirm</h1><br>
            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
            <form method="post" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" id="loginButton" name="loginButton" class="login loginmodal-submit" value="Change my password">
            </form>
        </div>
    </div>
</div>
{% endblock %}